.container {
	/* Overflow hide */
	overflow: hidden;
	/* Margins 0 top and bottom 20px left and right */
	margin: 0 20px;
	background-color: #fff;
	/* Box Shadows */
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.container table {
	/* Make the borders of the table merge together */
	border-collapse: collapse;
}

/* I'm working on the PC side and can't see the effect without commenting it out */
.container table thead tr th {
	color: #fff;
	background-color: #4fc3a1;
}

.container table thead tr th:nth-child(odd),
.container table tbody tr:nth-child(odd) {
	background-color: #ccc;
}

.container table thead tr th,
.container table tbody tr td {
	text-align: center;
	/* Don't add it yet The big screen will be normal */
	padding: 20px 40px;
}

.container table tbody tr td {
	border: 1px solid rgb(200, 200, 200);
}

.container table tbody tr:nth-child(odd) {
	background-color: #f8f8f8;
}

/* Mobile first */
/* Media queries Execute the code inside when the page width is less than 765px */
@media (max-width: 765px) {
	.container table {
		/* Make the head and tbody horizontally aligned */
		display: flex;
	}

	.container table thead tr {
		/* Let each element under thead>tr be called a resilient item*/
		display: flex;
		/* Change the orientation of the spindle so that the flexible items are aligned vertically*/
		flex-direction: column;
	}

	.container table tbody {
		display: flex;
		/* Automatic adaptation of scrollbars when overflowing boxes */
		overflow: auto;
	}

	.container table tbody tr {
		/* Ibid */
		display: flex;
		flex-direction: column;
	}

	.container table thead tr th,
	.container table tbody tr td {
		/* Left-justified text */
		text-align: left;
		width: 120px;
		padding: 20px;
		/* Clear all borders to 0 first and then set them individually */
		border: 0;
		border-bottom: 1px solid rgb(200, 200, 200);
		border-right: 1px solid rgb(200, 200, 200);
	}

	/* Remove the bottom border of the last cell of each row*/
	.container table thead tr th:last-child,
	.container table tbody tr td:last-child {
		border-bottom: 0;
	}

	.container table tbody tr td:nth-child(odd) {
		/* Let the odd number of cells in each row under tbody have a background colour of#f8f8f8 */
		background-color: #f8f8f8;
	}

	.container table tbody tr:nth-child(odd) {
		background-color: transparent;
	}
}

