<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
</head>
<body>

    <h1>The Films Details</h1>

        <p>films</t>:
       <b> {{films[0]["Movie_Title"]}}</b>,
            {{films[0]["Year"]}} ,
            {{films[0]["Director"]}},
            {{films[0]["Rating"]}} ,
            {{films[0]["Runtime"]}} ,
            {{films[0]["Censor"]}} ,
            {{films[0]["Total_Gross"]}} ,
            {{films[0]["main_genre"]}} ,
    </p>


</body>
</html>