<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
</head>
<body>
    <h1>IMDb: Films</h1>

    {% for row in rows %}
    <p>Films:

        {{ row["Movie_Title"]}} |
       {{row['Year']}} |
        <a href={{ url_for('films_details', Movie_Title= row['MovieTitle']) }}>{{row['Director']}}</a>
        {{row['Rating']}}

        {{row['Runtime']}}
        {{row['Censor']}}
        {{row['Total_Gross']}}
        {{row['main_genre']}}
    </p>
    {% endfor %}

</body>
</html>