<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>The Films Details</h1>

        <p>Films</t>:
       <b> {{Films[0]["Movie_Title"]}}</b>,
            {{Films[0]["Year"]}} ,
            {{Films[0]["Director"]}},
            {{Films[0]["Rating"]}} ,
            {{Films[0]["Runtime"]}} ,
            {{Films[0]["Censor"]}} ,
            {{Films[0]["Total_Gross"]}} ,
            {{Films[0]["main_genre"]}} ,
    </p>


</body>
</html>