<!DOCTYPE html>
<html>
<head>
    <title>IMDb Movie Ratings & Directors</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
            <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      border: 1px solid black;
    }

    .content {

      text-align: center;
    }
  </style>
</head>
<body>
<div class="content">
    <h1>IMDb Movie Ratings & Directors</h1>



    <p>Click for details.</p>
    <p><a href={{ url_for('films') }}>Films</a> | <a href={{ url_for('directors') }}>Directors</a></p>
</div>

</body>
</html>